<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>
      <% if @current_sort == 'name' %>
        <%= link_to url_for(sort: 'name', order: 1 - @current_order ), class: 'thead_sort' do %>
          Название <%= sort_angle(@current_order) %>
        <% end %>
      <% else %>
        <%= link_to url_for(sort: 'name', order: 0 ), class: 'thead'  do %>
          Название
        <% end %>
      <% end %>
    </th>
    <th>
      <% if @current_sort == 'box' %>
        <%= link_to url_for(sort: 'box', order: 1 - @current_order ), class: 'thead_sort' do %>
          Стойка <%= sort_angle(@current_order) %>
        <% end %>
      <% else %>
        <%= link_to url_for(sort: 'box', order: 0 ), class: 'thead'  do %>
          Стойка
        <% end %>
      <% end %>
    </th>
    <th>К-во оптических инт.</th>
    <th>К-во медных инт.</th>
    <th>Действия</th>
  </tr>
  </thead>

  <tbody>
  <% devices.each do |device| %>
    <tr>
      <td><%= link_to device.name, device %></td>
      <% if device.box %>
        <td><%= device.box.name %></td>
      <% else %>
        <td>-</td>
      <% end %>
      <td><%= device.interfaces ? device.interfaces.where(material: 'optic').count : 0 %></td>
      <td><%= device.interfaces ? device.interfaces.where(material: 'copper').count : 0 %></td>
      <td>
        <%= link_to edit_device_path(device), class: 'text-muted text-right mr-3' do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to device, method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'text-muted text-right' do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'layouts/paginator', items_number: @devices_count,
           current_page: @page,
           limit: @limit %>