<p id="notice"><%= notice %></p>

<h1>Devices</h1>
<br>
<%= link_to 'New Device', new_device_path, class: 'btn btn-primary' %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Стойка</th>
      <th>К-во оптических инт.</th>
      <th>К-во медных инт.</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, device %></td>
        <% if device.box %>
          <td><%= device.box.name %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td><%= device.interfaces ? device.interfaces.where(type: 'optic').count : 0 %></td>
        <td><%= device.interfaces ? device.interfaces.where(type: 'copper').count : 0 %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


