<p id="notice"><%= notice %></p>

<h1><%= @device.name %></h1>
<br>
<% if @device.box %>
  <p>
    Установлен в стойке: <%= link_to @device.box.name, @device.box %>
  </p>
<% end %>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>

<br>


<%= link_to 'New Interface', new_device_interface_path(@device) %>
<h4>Интерфейсы</h4>
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Тип</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @device.interfaces.order_by(:name).each do |interface| %>
      <tr>
        <td><%= link_to interface.name, device_interface_path(@device, interface) %></td>
        <td><%= interface.type %></td>
        <td><%= link_to 'Destroy', device_interface_path(@device, interface), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>