<div class="d-flex justify-content-between">
  <div class="ml-0">
    <%= link_to 'Назад', 'javascript:history.back()', class: 'btn btn-outline-secondary mr-2 btn-sm' %>
    <%= link_to 'Редактировать', edit_device_path(@device), class: 'btn btn-secondary btn-sm' %>
  </div>
  <div class="mr-0">
    <%= link_to 'Удалить', @device, method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-outline-danger btn-sm' %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <p class="mb-0 text-muted font-weight-bold text-uppercase">
              Стойка
            </p>
            <p class="mb-0">
              <%= link_to @device.box.name, @device.box %>
            </p>
          </div>
          <div class="col-6">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="text-muted font-weight-bold text-uppercase">
            Интерфейсы
          </div>
          <%= link_to 'Добавить', new_device_interface_path(@device),
                      class: 'btn btn-secondary btn-sm' %>
        </div>
        <table class="table table-sm table-striped mt-2">
          <thead>
          <tr>
            <th>Название</th>
            <th>Материал</th>
            <th>Патчкордом подключен в</th>
            <th>Логическая связь до</th>
            <th>Фактическое подключение до</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @device.interfaces.order_by(:name).each do |interface| %>
            <tr>
              <td><%= interface.name %></td>
              <td><%= human_material(interface.material) %></td>
              <td>
                <% if interface.patchcorded_to %>
                  <%= link_to interface.patchcorded_to.owner.box.name, box_path(interface.patchcorded_to.owner.box) %>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <%= link_to interface.patchcorded_to.owner.name, owner_path(interface.patchcorded_to.owner) %>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <%= interface.patchcorded_to.name %>
                  <%= link_to patchcord_path(interface.query_as(:i1).match('(i1)-[r:PHYSICAL_PATCHCORD]-(:Interface)')
                                                      .pluck(:r).first.id), class: 'text-muted text-right mr-3' do %>
                    <i class="far fa-eye"></i>
                  <% end %>
                <% else %>
                  <%= link_to 'Добавить', new_patchcord_path(from_node: interface.id)  %>
                <% end %>
              </td>
              <td>
                <% if interface.logical_linked_to %>
                  <%= link_to interface.logical_linked_to.owner.box.name, box_path(interface.logical_linked_to.owner.box) %>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <%= link_to interface.logical_linked_to.owner.name, owner_path(interface.logical_linked_to.owner) %>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <%= interface.logical_linked_to.name %>

                  <%= link_to logical_link_path(interface.query_as(:i1).match('(i1)-[r:LOGICAL_LINK]-(:Interface)')
                                                  .pluck(:r).first.id), class: 'text-muted text-right mr-3' do %>
                    <i class="far fa-eye"></i>
                  <% end %>
                <% else %>
                  <%= link_to 'Добавить', new_logical_link_path(from_node: interface.id)  %>
                <% end %>
              </td>
              <td>
                <% if interface.connected_to %>
                  <%= link_to interface.connected_to.owner.box.name, box_path(interface.connected_to.owner.box) %>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <%= link_to interface.connected_to.owner.name, owner_path(interface.connected_to.owner) %>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <%= interface.connected_to.name %>
                <% else %>
                  -
                <% end %>
              </td>
              <td>
                <%= link_to edit_device_interface_path(@device, interface), class: 'text-muted text-right mr-3' do %>
                  <i class="far fa-edit"></i>
                <% end %>
                <%= link_to device_interface_path(@device, interface),
                            method: :delete, data: { confirm: 'Are you sure?' },
                            class: 'text-muted text-right' do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


