<%= form_with(model: cable, local: true) do |form| %>
  <% if cable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cable.errors.count, "error") %> prohibited this cable from being saved:</h2>

      <ul>
        <% cable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group row">
    <%= form.label :length, 'Длина', class: 'col-sm-1 col-form-label' %>
    <div class="col-sm-11">
      <%= form.number_field :length, class: 'form-control', placeholder: 'Длина кабеля', min: 1, max: 120 %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-secondary'  %>
  </div>
<% end %>
