<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th></th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Стойка', sort_name: 'from_box' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Патчпанель', sort_name: 'from_patchpanel' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Порт', sort_name: 'from_interface' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Стойка', sort_name: 'to_box' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Патчпанель', sort_name: 'to_patchpanel' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Порт', sort_name: 'to_interface' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Материал', sort_name: 'material' %>
    </th>
    <th>Длина</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% cables.each do |cable| %>
    <tr>
      <td>
        <%= link_to cable_path(cable[:rel]), class: 'text-muted text-right mr-3' do %>
          <i class="far fa-eye"></i>
        <% end %>
      </td>
      <td><%= link_to cable[:from_box].name, box_path(cable[:from_box]) %></td>
      <td><%= link_to cable[:from_patchpanel].name, patchpanel_path(cable[:from_patchpanel]) %></td>
      <td><%= cable[:from_interface].name %></td>
      <td><%= link_to cable[:to_box].name, box_path(cable[:to_box]) %></td>
      <td><%= link_to cable[:to_patchpanel].name, patchpanel_path(cable[:to_patchpanel]) %></td>
      <td><%= cable[:to_interface].name %></td>
      <td><%= human_material(cable[:rel].material) %></td>
      <td><%= cable[:rel].length %></td>
      <td>
        <%= link_to edit_cable_path(cable[:rel]), class: 'text-muted text-right mr-3' do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to cable_path(cable[:rel]), method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'text-muted text-right' do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'layouts/paginator', items_number: @cables_count,
           current_page: @page,
           limit: @limit %>