<p id="notice"><%= notice %></p>


<table class="table">
  <thead>
    <tr>
      <th>From device</th>
      <th>From port</th>
      <th>To device</th>
      <th>to port</th>
      <th>Material</th>
      <th>Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cables.each do |cable| %>
      <tr>
        <td><%= cable.from_node.device.name %></td>
        <td><%= cable.from_node.name %></td>
        <td><%= cable.to_node.device.name %></td>
        <td><%= cable.to_node.name %></td>
        <td><%= cable.material %></td>
        <td><%= cable.length %></td>
        <td><%= link_to 'Show', cable %></td>
        <td><%= link_to 'Edit', edit_cable_path(cable) %></td>
        <td><%= link_to 'Destroy', cable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cable', new_cable_path %>
