<%= link_to 'Отмена', 'javascript:history.back()', class: 'btn btn-outline-secondary btn-sm mb-3' %>

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <%= form_with(model: @cable, local: true) do |form| %>
          <div class="row">
            <div class="col-xl-6">
              <h4>Начало</h4>
              <div class="form-group row">
                <%= form.label :from_room, 'Помещение', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <% if @from_patchpanel.id %>
                    <%= form.select :from_room,
                                    options_for_select(@rooms.collect {|i| [i.name, i.id]}, @from_patchpanel.box.room.id),
                                    { include_blank: true },
                                    class: 'form-control',
                                    id: 'from-room' %>
                  <% else %>
                    <%= form.select :from_room,
                                    options_for_select(@rooms.collect {|i| [i.name, i.id]}, ),
                                    { include_blank: true },
                                    class: 'form-control',
                                    id: 'from-room' %>
                  <% end %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :from_box, 'Стойка', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <% if @from_patchpanel.id %>
                    <%= form.select :from_box,
                                    options_for_select(@from_patchpanel.box.room.boxes.collect {|i| [i.name, i.id]}, @from_patchpanel.box.id),
                                    { include_blank: true }, class: 'form-control',
                                    id: 'from-box' %>
                  <% else %>
                    <%= form.select :from_box,
                                    %w(),
                                    {}, class: 'form-control',
                                    disabled: true,
                                    id: 'from-box' %>
                  <% end %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :from_patchpanel, 'Патчпанель', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <% if @from_patchpanel.id %>
                    <%= form.select :from_patchpanel,
                                    options_for_select(@from_patchpanel.box.children.collect {|i| [i.name, i.id]}, @from_patchpanel.id),
                                    { include_blank: true }, class: 'form-control',
                                    id: 'from-patchpanel' %>
                    <% else %>
                    <%= form.select :from_patchpanel,
                                    %w(),
                                    {}, class: 'form-control',
                                    disabled: true,
                                    id: 'from-patchpanel' %>
                    <% end %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :from_node, 'Порт', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <% if @from_interface.id %>
                    <%= form.select :from_node,
                                    options_for_select(@from_patchpanel.interfaces.collect {|i| [i.name, i.id]}, @from_interface.id),
                                    {}, class: 'form-control',
                                    required: true,
                                    id: 'from-interface' %>
                  <% else %>
                    <%= form.select :from_node,
                                    %w(),
                                    {}, class: 'form-control',
                                    disabled: true,
                                    required: true,
                                    id: 'from-interface' %>
                  <% end %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :length, 'Длина', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= form.number_field :length, class: 'form-control', placeholder: 'Длина кабеля', min: 1, max: 120%>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <h4>Конец </h4>
              <div class="form-group row">
                <%= form.label :to_room, 'Помещение', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= form.select :to_room,
                                  options_for_select(@rooms.collect {|i| [i.name, i.id]}, ),
                                  { include_blank: true},
                                  class: 'form-control',
                                  id: 'to-room' %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :to_box, 'Стойка', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= form.select :to_box,
                                  %w(),
                                  {}, class: 'form-control',
                                  disabled: true,
                                  id: 'to-box' %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :to_patchpanel, 'Патчпанель', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= form.select :to_patchpanel,
                                  %w(),
                                  {}, class: 'form-control',
                                  disabled: true,
                                  id: 'to-patchpanel' %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.label :to_node, 'Порт', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= form.select :to_node,
                                  %w(),
                                  {}, class: 'form-control',
                                  disabled: true,
                                  required: true,
                                  id: 'to-interface' %>
                </div>
              </div>
            </div>
          </div>

          <div class="actions">
            <%= form.submit 'Сохранить', class: 'btn btn-secondary'  %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'cables-new' %>

