<div class="d-flex justify-content-between">
  <div class="ml-0">
    <%= link_to 'Назад', 'javascript:history.back()', class: 'btn btn-outline-secondary mr-2 btn-sm' %>
    <%= link_to 'Редактировать', edit_box_path(@box), class: 'btn btn-secondary btn-sm' %>
  </div>
  <div class="mr-0">
    <%= link_to 'Удалить', @box, method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-outline-danger btn-sm' %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="text-muted font-weight-bold text-uppercase">
          Оборудование
        </div>
        <table class="table table-sm table-striped mt-2">
          <thead>
          <tr>
            <th>Название</th>
          </tr>
          </thead>
          <tbody>
          <% @devices.each do |device| %>
            <tr>
              <td><%= link_to device.name, device_path(device.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="text-muted font-weight-bold text-uppercase">
          Патчпанели
        </div>
        <table class="table table-sm table-striped mt-2">
          <thead>
          <tr>
            <th>Название</th>
            <th>Тип</th>
          </tr>
          </thead>
          <tbody>
          <% @patchpanels.each do |patchpanel| %>
            <tr>
              <td><%= link_to patchpanel.name, patchpanel %></td>
              <td><%= human_material(patchpanel.material) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

