<p id="notice"><%= notice %></p>

<% if @box.room %>
  <h3><%= @box.room.name %></h3>
<% end %>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>

<h4>Оборудование в стойке</h4>
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    <% @box.devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, device %></td>
      </tr>
    <% end %>
  </tbody>
</table>