<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th></th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Стойка', sort_name: 'from_box' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Оборудование', sort_name: 'from_owner' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Порт', sort_name: 'from_interface' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Стойка', sort_name: 'to_box' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Оборудование', sort_name: 'to_owner' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Порт', sort_name: 'to_interface' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Материал', sort_name: 'material' %>

    </th>
    <th>Действия</th>
  </tr>
  </thead>

  <tbody>
  <% patchcords.each do |patchcord| %>
    <tr>
      <td>
        <%= link_to patchcord_path(patchcord[:rel]), class: 'text-muted text-right mr-3' do %>
          <i class="far fa-eye"></i>
        <% end %>
      </td>
      <td><%= link_to patchcord[:from_box].name, box_path(patchcord[:from_box]) %></td>
      <td><%= link_to patchcord[:from_owner].name, owner_path(patchcord[:from_owner]) %></td>
      <td><%= patchcord[:from_interface].name %></td>
      <td><%= link_to patchcord[:to_box].name, box_path(patchcord[:to_box]) %></td>
      <td><%= link_to patchcord[:to_owner].name, owner_path(patchcord[:to_owner]) %></td>
      <td><%= patchcord[:to_interface].name %></td>
      <td><%= human_material(patchcord[:rel].material) %></td>
      <td>
        <%= link_to patchcord_path(patchcord[:rel]), method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'text-muted text-right' do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'layouts/paginator', items_number: @patchcords_count,
           current_page: @page,
           limit: @limit %>