<%= link_to new_patchcord_path, class: "btn btn-outline-secondary btn-sm" do %>
  <i class="fas fa-plus"></i> Добавить
<% end %>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>From device</th>
            <th>From port</th>
            <th>To device</th>
            <th>to port</th>
            <th>Material</th>
            <th>Действия</th>
          </tr>
          </thead>

          <tbody>
          <% @patchcords.each do |patchcord| %>
            <tr>
              <td><%= patchcord.from_node.device.name %></td>
              <td><%= patchcord.from_node.name %></td>
              <td><%= patchcord.to_node.device.name %></td>
              <td><%= patchcord.from_node.name %></td>
              <td><%= patchcord.material %></td>
              <td>
                <%= link_to patchcord, class: 'text-muted text-right mr-3' do %>
                  <i class="far fa-eye"></i>
                <% end %>
                <%= link_to patchcord, method: :delete, data: { confirm: 'Are you sure?' },
                            class: 'text-muted text-right' do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


