<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Название здания:" %>
    <%= form.text_field :name, required: true,  class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address, "Адрес:" %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-secondary' %>
  </div>
<% end %>
