<p id="notice"><%= notice %></p>

<%= link_to 'Добавить', new_building_path, class: "btn btn-outline-secondary btn-sm" %>
<br>
<div class="row mt-3">
  <% @buildings.each do |building| %>
    <div class="card-group col-xl-4 col-md-5">
      <div class="card d-block   mb-3">
        <div class="card-header bg-secondary pb-0">
          <h4 class="mt-0 h4 card-text">
            <%= link_to building.name, building, class: 'text-white' %>
          </h4>
          <p class="text-small text-white">
            <%= building.address %>
          </p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <i class="fab fa-perbyte"></i>
            Помещений:
            <%= building.rooms ? building.rooms.count : 0 %>
          </p>
          <div class="text-right">
            <%= link_to building, method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'text-muted text-right' do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>

        </div>
<!--        <div class="card-footer d-flex justify-content-between bg-transparent">-->
          <%#= link_to 'Edit', edit_building_path(building) %>
<!--        </div>-->
      </div>
    </div>
  <% end %>
</div>

