<p id="notice"><%= notice %></p>



<div class="row ml-0">
  <%= link_to 'Назад', buildings_path, class: 'btn btn-outline-secondary mr-2 btn-sm' %>
  <%= link_to 'Редактировать', edit_building_path(@building), class: 'btn btn-secondary btn-sm' %>
</div>

<h6 class="h6 text-muted mt-4 mb-3">Адрес: <%= @building.address %></h6>

<p>
  Помещения:
</p>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Этаж</th>
    </tr>
  </thead>
  <tbody>
  <% @building.rooms.each do |room| %>
    <tr>
      <td><%= link_to room.name, room %></td>
      <td><%= room.floor %></td>
    </tr>
  <% end %>
  </tbody>
</table>

