<p id="notice"><%= notice %></p>

<h1><%= @building.name %></h1>

<br>

<h3><%= @building.address %></h3>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
