
<%= form_with(model: [owner, interface], local: true) do |form| %>
  <% if interface.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interface.errors.count, "error") %> prohibited this interface from being saved:</h2>

      <ul>
        <% interface.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Название' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Пример: vmnic0' %>
  </div>

  <div class="form-check form-check-inline">
    <%= form.radio_button :material, :copper, class: 'form-check-input', disabled: disabled,
                          checked: interface.material == :copper,
                          required: true %>
    <%= form.label :material, human_material(:copper), value: :copper, class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
    <%= form.radio_button :material, :optic, class: 'form-check-input', disabled: disabled,
                          checked: interface.material == :optic,
                          required: true %>
    <%= form.label :material, human_material(:optic), value: :optic, class: "form-check-label" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Сохранить', class: 'btn btn-secondary'  %>
  </div>
<% end %>
