<%= form_with(model: [@device, interface], local: true) do |form| %>
  <% if interface.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interface.errors.count, "error") %> prohibited this interface from being saved:</h2>

      <ul>
        <% interface.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Название' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'vmnic0' %>
  </div>

  <div class="form-group">
    <%= form.label :type, 'Здание' %>
    <%= form.select :type, options_for_select(["optic", "copper"], interface.type), {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
