
<%= form_with(model: [owner, interface], local: true) do |form| %>
  <% if interface.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interface.errors.count, "error") %> prohibited this interface from being saved:</h2>

      <ul>
        <% interface.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Название' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Пример: vmnic0' %>
  </div>

  <div class="form-group">
    <%= form.label :material, 'Тип' %>
    <%= form.select :material, options_for_select([[human_material(:optic),:optic], [human_material(:copper), :copper]],
                                                  interface.material), {},
                    class: 'form-control',
                    disabled: disabled

    %>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-secondary'  %>
  </div>
<% end %>
