<%= form_with(model: patchpanel, local: true) do |form| %>
  <% if patchpanel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patchpanel.errors.count, "error") %> prohibited this patchpanel from being saved:</h2>

      <ul>
        <% patchpanel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Название' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Пример: КП1' %>
  </div>

  <div class="form-group">
    <%= form.label :box, 'Монтажный шкаф' %>
    <%= form.select :box, Box.all.collect {|x| [x.name, x.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :material, 'Тип' %>
    <%= form.select :material, options_for_select([[human_material(:optic),:optic], [human_material(:copper), :copper]],
                                                  patchpanel.material),
                    {}, class: 'form-control',
                    disabled: disabled
    %>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-secondary' %>
  </div>
<% end %>
