<%= form_with(model: patchpanel, local: true) do |form| %>
  <% if patchpanel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patchpanel.errors.count, "error") %> prohibited this patchpanel from being saved:</h2>

      <ul>
        <% patchpanel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Название' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Пример: КП1' %>
  </div>

  <div class="form-group">
    <%= form.label :box, 'Монтажный шкаф' %>
    <%= form.select :box, Box.all.order(:name).collect {|x| [x.name, x.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-check form-check-inline">
    <%= form.radio_button :material, :copper, class: 'form-check-input', disabled: disabled,
                          checked: patchpanel.material == :copper,
                          required: true %>
    <%= form.label :material, human_material(:copper), value: :copper, class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
    <%= form.radio_button :material, :optic, class: 'form-check-input', disabled: disabled,
                          checked: patchpanel.material == :optic,
                          required: true %>
    <%= form.label :material, human_material(:optic), value: :optic, class: "form-check-label" %>
  </div>


  <div class="actions mt-3">
    <%= form.submit 'Сохранить', class: 'btn btn-secondary' %>
  </div>
<% end %>
