<table class="table table-sm table-striped mt-2">
  <thead>
  <tr>
    <th>
      Название
    </th>
    <th>
      Патчкордом подключен в
    </th>
    <th>
      СКС связан с
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% interfaces.each do |interface| %>
    <tr>
      <td><%= interface[:self].name %></td>
      <td>
        <% if interface[:patchcorded_to_int] %>
          <%= link_to interface[:patchcorded_to_box].name, box_path(interface[:patchcorded_to_box]) %>
          <i class="fas fa-long-arrow-alt-right"></i>
          <%= link_to interface[:patchcorded_to_device].name, owner_path(interface[:patchcorded_to_device]) %>
          <i class="fas fa-long-arrow-alt-right"></i>
          <%= interface[:patchcorded_to_int].name %>
          <%= link_to patchcord_path(interface[:patchcord]), class: 'text-muted text-right mr-3' do %>
            <i class="far fa-eye"></i>
          <% end %>
        <% else %>
          <%= link_to 'Добавить', new_patchcord_path(from_node: interface[:self].id) %>
        <% end %>
      </td>
      <td>
        <% if interface[:cable_to_int] %>
          <%= link_to interface[:cable_to_box].name, box_path(interface[:cable_to_box]) %>
          <i class="fas fa-long-arrow-alt-right"></i>
          <%= link_to interface[:cable_to_device].name, owner_path(interface[:cable_to_device]) %>
          <i class="fas fa-long-arrow-alt-right"></i>
          <%= interface[:cable_to_int].name %>
          <%= link_to cable_path(interface[:cable]), class: 'text-muted text-right mr-3' do %>
            <i class="far fa-eye"></i>
          <% end %>
        <% else %>
          <%= link_to 'Добавить', new_cable_path(from_node: interface[:self].id) %>
        <% end %>
      </td>
      <td>
        <%= link_to edit_patchpanel_interface_path(@patchpanel, interface[:self]), class: 'text-muted text-right mr-3' do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to patchpanel_interface_path(@patchpanel, interface[:self]),
                    method: :delete,
                    class: 'text-muted text-right',
                    remote: true do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
