<p id="notice"><%= notice %></p>

<%= link_to new_patchpanel_path, class: "btn btn-outline-secondary btn-sm" do %>
  <i class="fas fa-plus"></i> Добавить
<% end %>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Название</th>
            <th>Стойка</th>
            <th>К-во интерфейсов</th>
            <th>Действия</th>
          </tr>
          </thead>

          <tbody>
          <% @patchpanels.each do |patchpanel| %>
            <tr>
              <td><%= link_to patchpanel.name, patchpanel %></td>
              <% if patchpanel.box %>
                <td><%= patchpanel.box.name %></td>
              <% else %>
                <td>-</td>
              <% end %>
              <td><%= patchpanel.interfaces ? patchpanel.interfaces.count : 0 %></td>
              <td>
                <%= link_to edit_patchpanel_path(patchpanel), class: 'text-muted text-right mr-3' do %>
                  <i class="far fa-edit"></i>
                <% end %>
                <%= link_to patchpanel, method: :delete, data: { confirm: 'Are you sure?' },
                            class: 'text-muted text-right' do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

