<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th></th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Оборудование', sort_name: 'from_device' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Порт', sort_name: 'from_interface' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Оборудование', sort_name: 'to_device' %>
    </th>
    <th>
      <%= render 'layouts/column_header', human_name: 'Порт', sort_name: 'to_interface' %>
    </th>
    <th>Материал</th>
    <th>Физически подключены?</th>
    <th>Действия</th>
  </tr>
  </thead>

  <tbody>
  <% logical_links.each do |logical_link| %>
    <tr>
      <td>
        <%= link_to logical_link_path(logical_link[:rel]), class: 'text-muted text-right mr-3' do %>
          <i class="far fa-eye"></i>
        <% end %>
      </td>
      <td><%= link_to logical_link[:from_device].name, device_path(logical_link[:from_device].id) %></td>
      <td><%= logical_link[:from_interface].name %></td>
      <td><%= link_to logical_link[:to_device].name, device_path(logical_link[:to_device].id) %></td>
      <td><%= logical_link[:to_interface].name %></td>
      <td><%= human_material(logical_link[:from_interface].material) %></td>
      <td><%= pretty_status(logical_link[:status]) %></td>
      <td>
        <%= link_to logical_link_path(logical_link[:rel]), method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'text-muted text-right' do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'layouts/paginator', items_number: @logical_links_count,
           current_page: @page,
           limit: @limit %>