<nav class="navbar navbar-dark bg-dark fixed-top shadow flex-md-nowrap">
  <%= link_to 'ЭМИ', root_path, class: 'navbar-brand col-sm-3 col-md-2 mr-0' %>

  <div class="navbar_right">
    <%= form_with url: search_path, method: :post, local: true do |form| %>
      <div class="input-group">
        <%= form.text_field  :search_string, placeholder: 'Поиск',
                             class: "form-control form-control-dark",
                             'aria-label': "Search",
                             'aria-describedby': "button-search"%>
        <div class="input-group-append">
          <%= form.button :submit, class: "btn btn-outline-secondary", id: 'button-search'  do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>


    <%= link_to  destroy_user_session_path, method: :delete, class: 'signout_link', title: 'Выход' do %>
      <i class="fas fa-sign-out-alt fa-lg"></i>
    <% end %>
  </div>


</nav>