<!DOCTYPE html>
<html>
  <head>
    <title>Emi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid" >
    <%= link_to 'Здания', buildings_path %> |
    <%= link_to 'Комнаты', rooms_path %> |
    <%= link_to 'Racks', boxes_path %> |
    <%= link_to 'Devices', devices_path %> |
    <%= link_to 'LogicalLinks', logical_links_path %> |

    <%= yield %>
  </body>
</html>
