<!DOCTYPE html>
<html>
  <head>
    <title>ЭМИ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid" >

    <%= render 'layouts/navbar' %>
    <div class="row">
      <%= render 'layouts/sidebar' %>
      <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <%= render 'layouts/toast' %>
        <%= render 'layouts/page_title' %>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>


  </body>
</html>
